@font-face {
  font-family: 'my-custom-icons';
  src:  url('fonts/my-custom-icons.eot?mwsf34');
  src:  url('fonts/my-custom-icons.eot?mwsf34#iefix') format('embedded-opentype'),
    url('fonts/my-custom-icons.ttf?mwsf34') format('truetype'),
    url('fonts/my-custom-icons.woff?mwsf34') format('woff'),
    url('fonts/my-custom-icons.svg?mwsf34#my-custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cu {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-custom-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cu-eye2:before {
  content: "\e000";
}
.cu-paper-clip:before {
  content: "\e001";
}
.cu-mail:before {
  content: "\e002";
}
.cu-toggle:before {
  content: "\e003";
}
.cu-layout:before {
  content: "\e004";
}
.cu-link2:before {
  content: "\e005";
}
.cu-bell:before {
  content: "\e006";
}
.cu-lock2:before {
  content: "\e007";
}
.cu-unlock:before {
  content: "\e008";
}
.cu-ribbon:before {
  content: "\e009";
}
.cu-image:before {
  content: "\e010";
}
.cu-signal:before {
  content: "\e011";
}
.cu-target:before {
  content: "\e012";
}
.cu-clipboard:before {
  content: "\e013";
}
.cu-clock2:before {
  content: "\e014";
}
.cu-watch:before {
  content: "\e015";
}
.cu-air-play:before {
  content: "\e016";
}
.cu-camera2:before {
  content: "\e017";
}
.cu-video:before {
  content: "\e018";
}
.cu-disc:before {
  content: "\e019";
}
.cu-printer2:before {
  content: "\e020";
}
.cu-monitor:before {
  content: "\e021";
}
.cu-server:before {
  content: "\e022";
}
.cu-cog2:before {
  content: "\e023";
}
.cu-heart2:before {
  content: "\e024";
}
.cu-paragraph:before {
  content: "\e025";
}
.cu-align-justify:before {
  content: "\e026";
}
.cu-align-left:before {
  content: "\e027";
}
.cu-align-center:before {
  content: "\e028";
}
.cu-align-right:before {
  content: "\e029";
}
.cu-book2:before {
  content: "\e030";
}
.cu-layers2:before {
  content: "\e031";
}
.cu-stack:before {
  content: "\e032";
}
.cu-stack-2:before {
  content: "\e033";
}
.cu-paper:before {
  content: "\e034";
}
.cu-paper-stack:before {
  content: "\e035";
}
.cu-search:before {
  content: "\e036";
}
.cu-zoom-in:before {
  content: "\e037";
}
.cu-zoom-out:before {
  content: "\e038";
}
.cu-reply:before {
  content: "\e039";
}
.cu-circle-plus:before {
  content: "\e040";
}
.cu-circle-minus2:before {
  content: "\e041";
}
.cu-circle-check:before {
  content: "\e042";
}
.cu-circle-cross:before {
  content: "\e043";
}
.cu-square-plus:before {
  content: "\e044";
}
.cu-square-minus:before {
  content: "\e045";
}
.cu-square-check:before {
  content: "\e046";
}
.cu-square-cross:before {
  content: "\e047";
}
.cu-microphone2:before {
  content: "\e048";
}
.cu-record:before {
  content: "\e049";
}
.cu-skip-back:before {
  content: "\e050";
}
.cu-rewind:before {
  content: "\e051";
}
.cu-play:before {
  content: "\e052";
}
.cu-pause:before {
  content: "\e053";
}
.cu-stop:before {
  content: "\e054";
}
.cu-fast-forward:before {
  content: "\e055";
}
.cu-skip-forward:before {
  content: "\e056";
}
.cu-shuffle:before {
  content: "\e057";
}
.cu-repeat:before {
  content: "\e058";
}
.cu-folder:before {
  content: "\e059";
}
.cu-umbrella:before {
  content: "\e060";
}
.cu-moon2:before {
  content: "\e061";
}
.cu-thermometer:before {
  content: "\e062";
}
.cu-drop2:before {
  content: "\e063";
}
.cu-sun2:before {
  content: "\e064";
}
.cu-cloud2:before {
  content: "\e065";
}
.cu-cloud-upload2:before {
  content: "\e066";
}
.cu-cloud-download2:before {
  content: "\e067";
}
.cu-upload3:before {
  content: "\e068";
}
.cu-download2:before {
  content: "\e069";
}
.cu-location2:before {
  content: "\e070";
}
.cu-location-2:before {
  content: "\e071";
}
.cu-map2:before {
  content: "\e072";
}
.cu-battery:before {
  content: "\e073";
}
.cu-head:before {
  content: "\e074";
}
.cu-briefcase2:before {
  content: "\e075";
}
.cu-speech-bubble:before {
  content: "\e076";
}
.cu-anchor:before {
  content: "\e077";
}
.cu-globe:before {
  content: "\e078";
}
.cu-box:before {
  content: "\e079";
}
.cu-reload:before {
  content: "\e080";
}
.cu-share:before {
  content: "\e081";
}
.cu-marquee:before {
  content: "\e082";
}
.cu-marquee-plus:before {
  content: "\e083";
}
.cu-marquee-minus:before {
  content: "\e084";
}
.cu-tag2:before {
  content: "\e085";
}
.cu-power:before {
  content: "\e086";
}
.cu-command:before {
  content: "\e087";
}
.cu-alt:before {
  content: "\e088";
}
.cu-esc:before {
  content: "\e089";
}
.cu-bar-graph:before {
  content: "\e090";
}
.cu-bar-graph-2:before {
  content: "\e091";
}
.cu-pie-graph:before {
  content: "\e092";
}
.cu-star3:before {
  content: "\e093";
}
.cu-arrow-left2:before {
  content: "\e094";
}
.cu-arrow-right2:before {
  content: "\e095";
}
.cu-arrow-up2:before {
  content: "\e096";
}
.cu-arrow-down2:before {
  content: "\e097";
}
.cu-volume2:before {
  content: "\e098";
}
.cu-mute:before {
  content: "\e099";
}
.cu-content-right:before {
  content: "\e100";
}
.cu-content-left:before {
  content: "\e101";
}
.cu-grid:before {
  content: "\e102";
}
.cu-grid-2:before {
  content: "\e103";
}
.cu-columns:before {
  content: "\e104";
}
.cu-loader:before {
  content: "\e105";
}
.cu-bag:before {
  content: "\e106";
}
.cu-ban:before {
  content: "\e107";
}
.cu-flag2:before {
  content: "\e108";
}
.cu-trash2:before {
  content: "\e109";
}
.cu-expand:before {
  content: "\e110";
}
.cu-contract:before {
  content: "\e111";
}
.cu-maximize:before {
  content: "\e112";
}
.cu-minimize:before {
  content: "\e113";
}
.cu-plus:before {
  content: "\e114";
}
.cu-minus:before {
  content: "\e115";
}
.cu-check:before {
  content: "\e116";
}
.cu-cross2:before {
  content: "\e117";
}
.cu-move2:before {
  content: "\e118";
}
.cu-delete:before {
  content: "\e119";
}
.cu-menu2:before {
  content: "\e120";
}
.cu-archive:before {
  content: "\e121";
}
.cu-inbox2:before {
  content: "\e122";
}
.cu-outbox:before {
  content: "\e123";
}
.cu-file:before {
  content: "\e124";
}
.cu-file-add2:before {
  content: "\e125";
}
.cu-file-subtract:before {
  content: "\e126";
}
.cu-help:before {
  content: "\e127";
}
.cu-open:before {
  content: "\e128";
}
.cu-ellipsis:before {
  content: "\e129";
}
.cu-add:before {
  content: "\e903";
}
.cu-cancel:before {
  content: "\e907";
}
.cu-check2:before {
  content: "\e908";
}
.cu-checked:before {
  content: "\e909";
}
.cu-check-mark:before {
  content: "\e90a";
}
.cu-close2:before {
  content: "\e90b";
}
.cu-download-2:before {
  content: "\e91c";
}
.cu-edit2:before {
  content: "\e91d";
}
.cu-heart-2:before {
  content: "\e926";
}
.cu-like3:before {
  content: "\e92f";
}
.cu-list-2:before {
  content: "\e933";
}
.cu-login:before {
  content: "\e936";
}
.cu-logout:before {
  content: "\e937";
}
.cu-microphone:before {
  content: "\e93c";
}
.cu-orientation:before {
  content: "\e94a";
}
.cu-padlock:before {
  content: "\e94b";
}
.cu-paper-plane2:before {
  content: "\e94d";
}
.cu-photo-camera:before {
  content: "\e94f";
}
.cu-picture:before {
  content: "\e950";
}
.cu-pie-chart:before {
  content: "\e951";
}
.cu-placeholder:before {
  content: "\e954";
}
.cu-plus2:before {
  content: "\e955";
}
.cu-smartphone-1:before {
  content: "\e968";
}
.cu-speech-bubble-12:before {
  content: "\e978";
}
.cu-star2:before {
  content: "\e989";
}
.cu-upload2:before {
  content: "\e9aa";
}
.cu-user2:before {
  content: "\e9ad";
}
.cu-diamond2:before {
  content: "\e9e5";
}
.cu-light-bulb:before {
  content: "\ea1a";
}
.cu-mail-4:before {
  content: "\ea20";
}
.cu-monitor-4:before {
  content: "\ea2c";
}
.cu-padlock3:before {
  content: "\ea31";
}
.cu-tap-2:before {
  content: "\ea64";
}
.cu-headphones2:before {
  content: "\ea7d";
}
.cu-package:before {
  content: "\e9c5";
}
.cu-package-6:before {
  content: "\ea82";
}
.cu-shopping-bag-2:before {
  content: "\ea88";
}
.cu-truck-1:before {
  content: "\ea8e";
}
.cu-alarm:before {
  content: "\e900";
}
.cu-apartment:before {
  content: "\e901";
}
.cu-arrow-down:before {
  content: "\e902";
}
.cu-arrow-down-circle:before {
  content: "\e904";
}
.cu-arrow-left:before {
  content: "\e905";
}
.cu-arrow-left-circle:before {
  content: "\e906";
}
.cu-arrow-right:before {
  content: "\e90c";
}
.cu-arrow-right-circle:before {
  content: "\e90d";
}
.cu-arrow-up:before {
  content: "\e90e";
}
.cu-arrow-up-circle:before {
  content: "\e90f";
}
.cu-bicycle:before {
  content: "\e910";
}
.cu-bold:before {
  content: "\e911";
}
.cu-book:before {
  content: "\e912";
}
.cu-bookmark:before {
  content: "\e913";
}
.cu-briefcase:before {
  content: "\e914";
}
.cu-bubble:before {
  content: "\e915";
}
.cu-bug:before {
  content: "\e916";
}
.cu-bullhorn:before {
  content: "\e917";
}
.cu-bus:before {
  content: "\e918";
}
.cu-calendar-full:before {
  content: "\e919";
}
.cu-camera:before {
  content: "\e91a";
}
.cu-camera-video:before {
  content: "\e91b";
}
.cu-car:before {
  content: "\e91e";
}
.cu-cart:before {
  content: "\e91f";
}
.cu-chart-bars:before {
  content: "\e920";
}
.cu-checkmark-circle:before {
  content: "\e921";
}
.cu-chevron-down:before {
  content: "\e922";
}
.cu-chevron-down-circle:before {
  content: "\e923";
}
.cu-chevron-left:before {
  content: "\e924";
}
.cu-chevron-left-circle:before {
  content: "\e925";
}
.cu-chevron-right:before {
  content: "\e927";
}
.cu-chevron-right-circle:before {
  content: "\e928";
}
.cu-chevron-up:before {
  content: "\e929";
}
.cu-chevron-up-circle:before {
  content: "\e92a";
}
.cu-circle-minus:before {
  content: "\e92b";
}
.cu-clock:before {
  content: "\e92c";
}
.cu-cloud:before {
  content: "\e92d";
}
.cu-cloud-check:before {
  content: "\e92e";
}
.cu-cloud-download:before {
  content: "\e930";
}
.cu-cloud-sync:before {
  content: "\e931";
}
.cu-cloud-upload:before {
  content: "\e932";
}
.cu-code:before {
  content: "\e934";
}
.cu-coffee-cup:before {
  content: "\e935";
}
.cu-cog:before {
  content: "\e938";
}
.cu-construction:before {
  content: "\e939";
}
.cu-crop:before {
  content: "\e93a";
}
.cu-cross:before {
  content: "\e93b";
}
.cu-cross-circle:before {
  content: "\e93d";
}
.cu-database:before {
  content: "\e93e";
}
.cu-diamond:before {
  content: "\e93f";
}
.cu-dice:before {
  content: "\e940";
}
.cu-dinner:before {
  content: "\e941";
}
.cu-direction-ltr:before {
  content: "\e942";
}
.cu-direction-rtl:before {
  content: "\e943";
}
.cu-download:before {
  content: "\e944";
}
.cu-drop:before {
  content: "\e945";
}
.cu-earth:before {
  content: "\e946";
}
.cu-enter:before {
  content: "\e947";
}
.cu-enter-down:before {
  content: "\e948";
}
.cu-envelope:before {
  content: "\e949";
}
.cu-exit:before {
  content: "\e94c";
}
.cu-exit-up:before {
  content: "\e94e";
}
.cu-eye:before {
  content: "\e952";
}
.cu-file-add:before {
  content: "\e953";
}
.cu-file-empty:before {
  content: "\e956";
}
.cu-film-play:before {
  content: "\e957";
}
.cu-flag:before {
  content: "\e958";
}
.cu-frame-contract:before {
  content: "\e959";
}
.cu-frame-expand:before {
  content: "\e95a";
}
.cu-funnel:before {
  content: "\e95b";
}
.cu-gift:before {
  content: "\e95c";
}
.cu-graduation-hat:before {
  content: "\e95d";
}
.cu-hand:before {
  content: "\e95e";
}
.cu-heart:before {
  content: "\e95f";
}
.cu-heart-pulse:before {
  content: "\e960";
}
.cu-highlight:before {
  content: "\e961";
}
.cu-history:before {
  content: "\e962";
}
.cu-home:before {
  content: "\e963";
}
.cu-hourglass:before {
  content: "\e964";
}
.cu-inbox:before {
  content: "\e965";
}
.cu-indent-decrease:before {
  content: "\e966";
}
.cu-indent-increase:before {
  content: "\e967";
}
.cu-italic:before {
  content: "\e969";
}
.cu-keyboard:before {
  content: "\e96a";
}
.cu-laptop:before {
  content: "\e96b";
}
.cu-laptop-phone:before {
  content: "\e96c";
}
.cu-layers:before {
  content: "\e96d";
}
.cu-leaf:before {
  content: "\e96e";
}
.cu-license:before {
  content: "\e96f";
}
.cu-lighter:before {
  content: "\e970";
}
.cu-linearicons:before {
  content: "\e971";
}
.cu-line-spacing:before {
  content: "\e972";
}
.cu-link:before {
  content: "\e973";
}
.cu-list:before {
  content: "\e974";
}
.cu-location:before {
  content: "\e975";
}
.cu-lock:before {
  content: "\e976";
}
.cu-magic-wand:before {
  content: "\e977";
}
.cu-magnifier:before {
  content: "\e979";
}
.cu-map:before {
  content: "\e97a";
}
.cu-map-marker:before {
  content: "\e97b";
}
.cu-menu:before {
  content: "\e97c";
}
.cu-menu-circle:before {
  content: "\e97d";
}
.cu-mic:before {
  content: "\e97e";
}
.cu-moon:before {
  content: "\e97f";
}
.cu-move:before {
  content: "\e980";
}
.cu-music-note:before {
  content: "\e981";
}
.cu-mustache:before {
  content: "\e982";
}
.cu-neutral:before {
  content: "\e983";
}
.cu-page-break:before {
  content: "\e984";
}
.cu-paperclip:before {
  content: "\e985";
}
.cu-paw:before {
  content: "\e986";
}
.cu-pencil:before {
  content: "\e987";
}
.cu-phone:before {
  content: "\e988";
}
.cu-phone-handset:before {
  content: "\e98a";
}
.cu-picture2:before {
  content: "\e98b";
}
.cu-pie-chart2:before {
  content: "\e98c";
}
.cu-pilcrow:before {
  content: "\e98d";
}
.cu-plus-circle:before {
  content: "\e98e";
}
.cu-pointer-down:before {
  content: "\e98f";
}
.cu-pointer-left:before {
  content: "\e990";
}
.cu-pointer-right:before {
  content: "\e991";
}
.cu-pointer-up:before {
  content: "\e992";
}
.cu-poop:before {
  content: "\e993";
}
.cu-power-switch:before {
  content: "\e994";
}
.cu-printer:before {
  content: "\e995";
}
.cu-pushpin:before {
  content: "\e996";
}
.cu-question-circle:before {
  content: "\e997";
}
.cu-redo:before {
  content: "\e998";
}
.cu-rocket:before {
  content: "\e999";
}
.cu-sad:before {
  content: "\e99a";
}
.cu-screen:before {
  content: "\e99b";
}
.cu-select:before {
  content: "\e99c";
}
.cu-shirt:before {
  content: "\e99d";
}
.cu-smartphone:before {
  content: "\e99e";
}
.cu-smile:before {
  content: "\e99f";
}
.cu-sort-alpha-asc:before {
  content: "\e9a0";
}
.cu-sort-amount-asc:before {
  content: "\e9a1";
}
.cu-spell-check:before {
  content: "\e9a2";
}
.cu-star:before {
  content: "\e9a3";
}
.cu-star-empty:before {
  content: "\e9a4";
}
.cu-star-half:before {
  content: "\e9a5";
}
.cu-store:before {
  content: "\e9a6";
}
.cu-strikethrough:before {
  content: "\e9a7";
}
.cu-sun:before {
  content: "\e9a8";
}
.cu-sync:before {
  content: "\e9a9";
}
.cu-tablet:before {
  content: "\e9ab";
}
.cu-tag:before {
  content: "\e9ac";
}
.cu-text-align-center:before {
  content: "\e9ae";
}
.cu-text-align-justify:before {
  content: "\e9af";
}
.cu-text-align-left:before {
  content: "\e9b0";
}
.cu-text-align-right:before {
  content: "\e9b1";
}
.cu-text-format:before {
  content: "\e9b2";
}
.cu-text-format-remove:before {
  content: "\e9b3";
}
.cu-text-size:before {
  content: "\e9b4";
}
.cu-thumbs-down:before {
  content: "\e9b5";
}
.cu-thumbs-up:before {
  content: "\e9b6";
}
.cu-train:before {
  content: "\e9b7";
}
.cu-trash:before {
  content: "\e9b8";
}
.cu-underline:before {
  content: "\e9b9";
}
.cu-undo:before {
  content: "\e9ba";
}
.cu-unlink:before {
  content: "\e9bb";
}
.cu-upload:before {
  content: "\e9bc";
}
.cu-user:before {
  content: "\e9bd";
}
.cu-users:before {
  content: "\e9be";
}
.cu-volume:before {
  content: "\e9bf";
}
.cu-volume-high:before {
  content: "\e9c0";
}
.cu-volume-low:before {
  content: "\e9c1";
}
.cu-volume-medium:before {
  content: "\e9c2";
}
.cu-warning:before {
  content: "\e9c3";
}
.cu-wheelchair:before {
  content: "\e9c4";
}

